body{
	margin: 0px 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    background: url(632900.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav ul{
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 75px;
	/* background-color: rgb(0, 0, 0); */
	color: whitesmoke;
}

nav ul li{
	padding: 0px 12px;
	color: antiquewhite;
	margin: 0px;
}
ul{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: antiquewhite;
}
.container{
	min-height: 60vh;
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	width: 75%;
	margin: 15px auto;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	color: antiquewhite;
	padding: 0px 0px 30px 30px;
}
.container1{
	align-content: center;
	position: relative;
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
iframe{
	min-height: 60vh;
	margin-top: 30px;
	margin-left: 57px;
	margin-right: 57px;
	margin-top: 30px;
}
.bn30 {
	border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 16px;
	-webkit-transform: translate(0);
	transform: translate(0);
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	padding: 0.7em 2em;
	border-radius: 65px;
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
	-webkit-transition: box-shadow 0.25s;
	transition: box-shadow 0.25s;
	color: white;
	cursor: pointer;
  }
  
  .bn30 .text {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
	content: "";
	border-radius: 18px;
	position: absolute;
	margin: 4px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: #40448f;
	 cursor: pointer;
  }
  
  .bn30:hover {
	background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
	box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
	background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }
  .content{
  	/* background-color: black; */
	
  	height: 100%;
  	width: 100%;
	padding-top: 50px;
  	padding-bottom: 100px;
  	color: antiquewhite;
  }

  p{
  	    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  	
  h1{
  	    margin-block-start: 0em;
    margin-block-end: 0em;
  }