@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    background: url(darkwallpaper.jpg)
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    color: antiquewhite;
    font-size: 70px;
    font-family: 'Teko', sans-serif;
}

h2 {
    color: antiquewhite;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
}

ul{
    list-style-type: none;
}
li a{
    color: rgb(232, 178, 210);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.container {
    text-align: center;
}